body {
	font-family: "Kulim Park", sans-serif;
	background-color: #f5f5f5;
	box-sizing: border-box;
}

/* 
CSS para header
*/

header {
	background-color: #2d334a;
	color: #fff;
	text-align: center;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	font-size: 1.2rem;
}

nav a {
  color: #ffd803;
  text-decoration: none;
  padding: 10px 15px;
}

/* 
CSS para tabs de ejercicios
*/

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.tab ul {
	padding: 0;
}

.tabcontent li {
	list-style-type: none;
}

.tabgrid {
	display: grid;
	grid-gap: 10px;
	text-align: center;
}

.tabgrid h1 {
	color: #ffd803;
	font-size: 2.5rem;
	margin: 0;
}

.tab_item {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
	margin: 10px 0 10px 0px;
	cursor: pointer;
}

.inner_tab_item {
	display: flex;
	padding: 10px;
	text-align: left;
	text-wrap: balance;
	align-items: center;
}

.tab_item span {
	font-weight: 900;
	font-size: 1.5rem;
	color: #ffd803;
}

.tab_item p {
	font-size: 1.1rem;
	font-weight: 600;
	color: #2d334a;
	margin-top: 0;
}

.inner_tab_item img {
	width: 50%;
}

/* 
CSS para wrapper de lista de ejercicios y ejercicios seleccionados
*/

.section-wrapper {
  display: flex;
}

.rutinas-ejercicios {
  flex:2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ejercicios-elegidos {
  flex:1;
  margin-top: 20px;
  margin-bottom: 20px;
}

#lista-ejercicios {
	list-style-type: none;
	font-size: 1.5rem;
	color: #2d334a;
}

#lista-ejercicios li {
	cursor: pointer;
	padding-bottom: 10px;
}


/* 
CSS para seccion de Objetivos de Entrenamiento
*/

.objetivos {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.objetivos input {
	margin: 10px;
	width: 90%;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #2d334a;
}

.objetivos button {
	margin: 10px;
	width: 350px;
	padding: 15px;
	border-radius: 10px;
	background-color: #2d334a;
	color: #ccc;
	cursor: pointer;
}

.objetivos button:hover {
	background-color: #ccc;
	color: #2d334a;
}

.inputs-resumen {
	display: flex;
	width: 100%;
}

.inputs-side {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.resumen-side {
	width: 50%;
}

#lista-resumen {
	list-style-type: none;
	font-size: 1.5rem;
	color: #2d334a;
}

#lista-resumen li {
	cursor: pointer;
	padding-bottom: 10px;
}